<%- include('./partials/header') %>
  <head>
    <title>SKRBL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
THIS IS THE LANDING PAGE

    <%- include('./partials/footer') %>