<%- include('../partials/header') %>

<h1>THIS IS POSTS/NEW</h1>

<p>Prompt Title: <%= promptTitle %></p>
<p>Prompt Content: <%= promptContent %></p>

<form method="POST" action="/posts/create">
    <!-- COME BACK TO THIS SOON-->>
    <button type="submit">Create Post</button>
</form>

<%- include('../partials/footer') %>